*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #201F23;
    margin: 0;
}
.main-page{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    box-shadow: 0px 15px 15px -15px #111;

}
.head{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px 3% 0px 5%;
}
.namehead{
    color: #fff;
    font-size: 1.8rem;
    font-weight: 600;
    padding: 1% 0px 1% 0px;
    font-family: Archivo Black;
}
#n{
    color: #FFAB00;

}
.line{
    width: 100%;
    height: 0.5rem;
    background-color: #F5CB5C;
}
.menu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px 5% 0px 5%;
    align-items: center;
}
.menu > ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px 5% 0px 5%;
    list-style-type: none;
    align-items: center;
}
.menu > ul > li{
    margin-left: 30px;
}
.menu div{
    margin-left: 30px;
}
.menu img{
    width: 2.5rem;
    height: 2.5rem;
    transition: 0.5s;
}
.menu img:hover{
    width: 3rem;
    height: 3rem;
    transition: 0.5s;
}
li>a{
    transition: 0.5s;
    text-decoration: none;
    color: #fff;
    font-size: 1.6rem;
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
}
li>a:hover{
    transition: 0.5s;
    color: #FFAB00;
    font-size: 1.7rem;
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
}
.main{
    margin-top: 20vh;
    display: flex;
    flex-direction: row;
    width: 100%;
}
.infos{
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 0px 5% 0px 5%;

}
.name{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}
.underline{
    width: 50%;
    height: 0.5rem;
    background-color: #FFAB00;
}
h1{
    font-family: Archivo Black;
    color: #fff;
    font-size: 4rem;
}
#name{
    line-height: 100%;
}
.name h2{
    margin-top: 1vh;
    font-family: Archivo Black;
    color: #9a9a9a;
    font-size: 2rem;
}
.name p{
    font-family: Noto Sans Linear A;
    margin-top: 2vh;
    font-family: Archivo Black;
    color: #e8e8e8;
    font-size: 1.3rem;
}
.button{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.button a{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5vh;
    background-color: #FFAB00;
    text-decoration: none;
    color: #fff;
    font-size: 1.3rem;
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
    padding: 1% 2% 1% 2%;
    border-radius: 5px;
    margin-top: 2vh;
    margin-right: 6vh;
    transition: 0.5s;
}
.button a:hover{
    transition: 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5vh;
    background-color: #1a191c;
    text-decoration: none;
    color: #fff;
    font-size: 1.3rem;
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
    padding: 1% 2% 1% 2%;
    border: 1px solid #FFAB00;
    border-radius: 5px;
    margin-top: 2vh;
    box-shadow: 0px 0px 10px 0px #FFAB00;
    transition: 0.5s;
    
}


.photo{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: flex-start;

}
.dot {
    height: 25vw;
    width: 25vw;
    background-color: #FFAB00;
    border-radius: 50%;
    display: inline-block;
  }

.under-main{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.skills{
    margin-top: 20px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

}
.other-skills{
    border: 3px solid #111;
    box-shadow: 0px 0px 10px 0px #111;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: #1a191c;
    border-radius: 10px;
    margin: 5px 5vw 0px 5vw;
}
.dev-skills{
    border: 3px solid #111;
    box-shadow: 0px 0px 10px 0px #111;
    margin: 5px 5vw 0px 5vw;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: #1a191c;
    border-radius: 10px;
    padding: 5vh 0vh 5vh 0;
}
.skills h2{
    margin-top: 2vh;
    font-family: Archivo Black;
    color: #fff;
    font-size: 2rem;
}
.skills h3{
    margin-top: 2vh;
    font-family: Archivo Black;
    color: #fff;
    font-size: 1.5rem;
}
.backend{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
.bar{
    padding: 0px 5px 0px 5px;
    width: 100%;
    height: 1.7rem;
    background-color: #1a191c;
    border-radius: 5px;
    display: flex;
    align-items: center;
    border: solid 2px #FFAB00;
    justify-content: flex-start;
}
.innerbar{
    height: 1rem;
    background-color: #FFAB00;
    border-radius: 5px;
}
#python{
    width: 70%;
}
#php{
    width: 60%;
}
#golang{
    width: 40%;
}
#html{
    width: 80%;
}
#CSS{
    width: 70%;
}
#javascript{
    width: 25%;
}

#windows{
    width: 90%;
}
#linux{
    width: 70%;
}
.contact{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.reseaux{
    width: 80%;
    border: 3px solid #111;
    box-shadow: 0px 0px 10px 0px #111;
    background-color: #1a191c;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-beetween;
    align-items: center;
    margin-top: 5vh;
    height: 12vh;
}
.reseaux img{
    width: 5rem;
    transition: 0.5s;
    margin: 1vh 1vw 1vh 1vw;
    color: #fff

}
.reseaux img:hover{
    width: 6rem;
    transition: 0.5s;
    color: #fff
}
.contact-form{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
form{
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
input{
    width: 40%;
    height: 3rem;
    border-radius: 5px;
    border: none;
    padding: 0px 5px 0px 5px;
    background-color: #1a191c;
    border: solid 2px #FFAB00;
    color: #fff;
    font-size: 1.2rem;
    font-family: 'Roboto', sans-serif;
    margin-top: 2vh;
}
textarea{
    width: 100%;
    height: 10rem;
    border-radius: 5px;
    border: none;
    padding: 0px 5px 0px 5px;
    background-color: #1a191c;
    border: solid 2px #FFAB00;
    color: #fff;
    font-size: 1.2rem;
    font-family: 'Roboto', sans-serif;
    margin-top: 2vh;
}
.top_form{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

@media (max-height: 800px) {
    .main{
        margin-top: 10vh;
        display: flex;
        flex-direction: row;
        width: 100%;
    }
  }